<h3>Lista</h3>

<header>
    
    
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre:</li>
    <li class="list-group-item">Apellido:</li>
    <li class="list-group-item">Documento:</li>
    <li class="list-group-item">Correo:</li>
    <li class="list-group-item">Telefono:</li>
  </ul>
  <div class="encabezado" style="height: 140px; overflow: hidden;" ><svg viewBox="0 0 500 140" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.97,-0.48 C143.06,-4.44 499.72,96.20 508.17,49.83 L500.00,150.00 L-1.97,150.48 Z" style="stroke: none; fill: #000000;"></path></svg></div>

</header>
