<h3>Lista Estudiantes</h3>

<header>
</header>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Documento</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody *ngFor="let profesores of listaProfesores">
      <tr>
        <td>{{profesores.nombre}}</td>
        <td>{{profesores.apellido}}</td>
        <td>{{profesores.tipoDocumento}}</td>
        <td>{{profesores.documento}}</td>
        <td>{{profesores.correo}}</td>
        <td>{{profesores.telefono}}</td>
      </tr>
    </tbody>
  </table>
</div>
<footer class="page-footer font-small footerColor">
  <div class="text-center py-2 footerTexto">Juan Jose Gonzalez Adarve </div>
  <div class="text-center footerTexto">Programacion IV </div>

</footer>
