<h3>Estudiantes</h3> <br>


<header>
<div class="formulario_estudiantes" id="formulario_estudiantes">
    <div class="form-group" >
        <label class="lable">Ingrese el nombre</label>
        <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control style" placeholder="Ingrese el nombre">
    </div>
    <div class="form-group">
        <label class="lable"> Ingrese el apellido</label>
        <input type="text" name="apellido" [(ngModel)]="apellido" class="form-control style" placeholder="Ingrese el apellio">
    </div>
    <div class="form-group">
        <label class="lable">Tipo de documento</label>
        <select class="form-control" name="tipoDocumento"  [(ngModel)]="tipoDocumento">
          <option>CC</option>
          <option>TI</option>
          <option>CE</option>
        </select>
    </div>
    <div class="form-group" >
        <label class="lable">Ingrese el documento</label>
        <input type="number" name="documento" [(ngModel)]="documento" class="form-control style" placeholder="Ingrese el documento">
    </div>

    <div class="form-group">
        <label class="lable">Ingrese el correo</label>
        <input type="email" name="correo" [(ngModel)]="correo" class="form-control style" placeholder="Ingrese el correo electronico">
    </div> 

    <div class="form-group" >
        <label class="lable">Ingrese el telefono</label>
        <input type="number" name="telefono" [(ngModel)]="telefono" class="form-control style" placeholder="Ingrese el telefono">
    </div>
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-secondary btn-success" value="Enviar" (click)="enviarDatos()">Enviar</button>
        <button type="reset" class="btn btn-secondary btn-danger" (click)="borrarDatos" >Borrar</button>
    </div>
</div>


<div class="encabezado" style="height: 40px; overflow: hidden;" ><svg viewBox="0 0 500 140" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.97,-0.48 C143.06,-4.44 499.72,96.20 508.17,49.83 L500.00,150.00 L-1.97,150.48 Z" style="stroke: none; fill: #fff;"></path></svg></div>

</header>