<h3>Materias</h3> <br>

<header>
    <div class="formulario_materias">
        <div class="form-group">
            <label class="lable">Seleccione estudiante</label>
            <select [(ngModel)]="nombreEstudiante" class="form-control">
                <option value="" hidden>Seleccione un estudiante</option>
                <option *ngFor="let estudiante of estudiantes">{{estudiante.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="lable">Seleccione materia</label>
            <select [(ngModel)]="nombreMateria" class="form-control">
                <option value="" hidden>Seleccione una materia</option>
                <option *ngFor="let materia of nombreMaterias">{{materia.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="lable">Ingrese nota del corte 1</label>
            <input type="number" name="nota_1" step="any" class="form-control style" placeholder="">
        </div>
        <div class="form-group">
            <label class="lable">Ingrese nota del corte 2</label>
            <input type="number" name="nota_1" step="any" class="form-control style" placeholder="">
        </div>
        <div class="form-group">
            <label class="lable">Ingrese nota del corte 3</label>
            <input type="number" name="nota_1" step="any" class="form-control style" placeholder="">
        </div> <br>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-secondary btn-success" value="Enviar">Enviar</button>
            <button type="reset" class="btn btn-secondary btn-danger">Borrar</button>
        </div>
    </div>
</header>

<footer class="page-footer font-small footerColor">
    <div class="text-center py-2 footerTexto">Juan Jose Gonzalez Adarve </div>
    <div class="text-center footerTexto">Programacion IV </div>

</footer>